@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.stack-level-information .center-text {
  margin: 0 auto;
}
.stack-level-information .summary-inshort {
  display: flex;
}
.stack-level-information .summary-inshort .stat-box {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.stack-level-information .summary-inshort .stat-box h3 {
  background: #ededed;
  margin: 0;
  height: 40px;
  padding: 5px;
  flex: 1;
  display: flex;
  align-items: center;
}
.stack-level-information .summary-inshort .stat-box h3 span {
  font-size: 12px;
  font-weight: bold;
}
.stack-level-information .summary-inshort .stat-box h3 p {
  margin: 0 0 0 10px;
  font-size: 10px;
}
.stack-level-information .summary-inshort .stat-box .stat-content {
  align-items: center;
  display: flex;
  flex: 6;
}
.stack-level-information .summary-inshort .stat-box .stat-content .flex-1 {
  flex: 1;
}
.stack-level-information .summary-inshort .stat-box .stat-content .flex-2 {
  flex: 2;
}
.stack-level-information .summary-inshort .stat-box .stat-content .flex-3 {
  flex: 3;
}
.stack-level-information .summary-inshort .stat-box .stat-content .flex-4 {
  flex: 4;
}
.stack-level-information .summary-inshort .stat-box .stat-content.usage-outlier {
  flex: 6;
  justify-content: center;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area {
  text-align: center;
  flex: 6;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license {
  padding-left: 5px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-direction-icon {
  color: #8b8d8f;
  font-size: 35px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container {
  display: flex;
  flex-flow: row wrap;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .packages {
  color: #8b8d8f;
  font-size: 15px;
  text-align: right;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .packages .conflict-group {
  border-bottom: #8b8d8f 1px solid;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .packages span.fa {
  margin: 0 0 0 10px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .packages .ellipsis-icon {
  color: #8b8d8f;
  font-size: 25px;
  margin: 10px 4px 0 0;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .licenses {
  color: #8b8d8f;
  font-size: 15px;
  text-align: left;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container .licenses .conflict-group {
  border-bottom: #8b8d8f 1px solid;
  padding-left: 10px;
  margin-right: 45px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container.popover {
  flex-flow: column;
  max-width: 400px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container.popover .license-template {
  display: flex;
  line-height: 25px;
  width: 350px;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .conflict-license-container.popover .license-template .licenses .conflict-group {
  margin-right: 0;
}
.stack-level-information .summary-inshort .stat-box .stat-content.license-area .metric-license-status {
  font-size: 17px;
}
.stack-level-information .summary-inshort .stat-box .stat-content .metric {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #8b8d8f;
  font-weight: bold;
}
.stack-level-information .summary-inshort .stat-box .stat-content .metric span {
  margin: 0 auto;
}
.stack-level-information .summary-inshort .stat-box .stat-content .metric-desc {
  font-size: 14px;
}
.stack-level-information .summary-inshort:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.stack-level-information .summary-inshort .width-20 {
  width: 20%;
}
.stack-level-information .summary-inshort .width-40 {
  width: 40%;
}
.stack-level-information .summary-inshort .stat-container {
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  flex: 1;
  align-items: stretch;
}
.stack-level-information .summary-inshort .stat-container.outlier-stat {
  flex: 2;
}
.stack-level-information .summary-inshort .stat-container.stack-license-stat {
  flex: 2;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cve-message {
  font-size: 12px;
  color: #777;
  font-weight: 100;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-id {
  font-size: 15px;
  font-weight: 100;
  margin-top: 5px;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-id i {
  font-size: 25px;
  cursor: pointer;
  color: #ff7f0e;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-id i.warning-red-color:before {
  color: #cc0000;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data {
  height: 50px;
  margin-top: 10px;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data > div {
  height: 100%;
  position: relative;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data > div .cvss-score {
  font-size: 20px;
  font-weight: 100;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data > div .cvss-score-label {
  font-size: 12px;
  font-weight: 100;
  bottom: 6px;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data > div .cvss-score-label .label-1 {
  font-size: 15px;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .cvss-data > div .cvss-indication {
  position: absolute;
  right: 20px;
  bottom: 6px;
}
.stack-level-information .summary-inshort .stat-container.security-issues-stat .progress-bar {
  cursor: pointer;
}
.stack-level-information .conflict-help-text {
  padding: 0 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
